<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost/form-by-geol</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>

        <!--Для тестов-->
        <property name="show_sql">true</property>

        <mapping class="data.entities.Borehole"/>
        <mapping class="data.entities.DrillingLine"/>
        <mapping class="data.entities.documentation.CalculationResults"/>
        <mapping class="data.entities.documentation.CompletedAct"/>
        <mapping class="data.entities.documentation.ControlTable"/>
        <mapping class="data.entities.documentation.LithoCardEntity"/>
        <mapping class="data.entities.documentation.LithologicalSection"/>
        <mapping class="data.entities.documentation.NuggetsCharacteristics"/>
        <mapping class="data.entities.documentation.ShutdownAct"/>
        <mapping class="data.entities.documentation.Summary"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>